In [13]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.datasets import load_diabetes

In [7]:
d = load_diabetes()

In [8]:
d

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'frame': None,
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'C:\\Users\\aksha\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_data.csv.gz',
 'target_filename': 'C:\\Users\\aksha\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_target.csv.gz'}

In [10]:
df = pd.DataFrame(d.data, columns= d.feature_names)
### first row data
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [11]:
### last row data
df.tail()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [14]:
###  dataframe

random_df = pd.DataFrame(np.random.rand(30,10))
random_df

,0,1,2,3,4,5,6,7,8,9
0,0.201736,0.718142,0.553901,0.016515,0.423794,0.602191,0.312173,0.696406,0.530402,0.310529
1,0.224702,0.271562,0.658444,0.572945,0.657031,0.629733,0.853844,0.913338,0.788399,0.723949
2,0.238577,0.468339,0.421897,0.759773,0.285821,0.837598,0.862868,0.707336,0.363240,0.559975
3,0.796371,0.245501,0.647891,0.458420,0.211394,0.162978,0.034472,0.196477,0.078915,0.128377
4,0.446275,0.268695,0.107725,0.762595,0.647014,0.772417,0.328954,0.301052,0.810337,0.586399
5,0.371887,0.289049,0.244615,0.136818,0.300702,0.353707,0.040305,0.248884,0.377091,0.610484
6,0.147081,0.831863,0.551158,0.912335,0.337168,0.551734,0.233827,0.029101,0.159107,0.205195
7,0.205980,0.545894,0.696605,0.395348,0.843474,0.468985,0.163824,0.005471,0.481797,0.970865
8,0.857363,0.551044,0.126284,0.290174,0.437264,0.691835,0.938551,0.303715,0.801942,0.530720
9,0.377007,0.165027,0.085699,0.111008,0.714072,0.677004,0.199852,0.683489,0.736074,0.145873
10,0.185659,0.869620,0.680108,0.781853,0.980845,0.685338,0.415361,0.105726,0.161774,0.726811
11,0.221401,0.920691,0.962703,0.302439,0.415821,0.940594,0.742043,0.550923,0.825921,0.425111
12,0.641378,0.712497,0.557680,0.695277,0.598208,0.628827,0.549915,0.908076,0.557078,0.078427
13,0.879994,0.310496,0.815524,0.419459,0.219837,0.255997,0.557723,0.639105,0.041897,0.912797
14,0.911133,0.271863,0.222450,0.507944,0.805075,0.249962,0.824958,0.209877,0.332697,0.849587
15,0.725303,0.267061,0.653799,0.134162,0.390032,0.885140,0.206678,0.018924,0.302680,0.219001
16,0.357342,0.235504,0.084784,0.235424,0.463575,0.676901,0.370549,0.903071,0.888647,0.134280
17,0.357502,0.182861,0.334954,0.686146,0.257601,0.445734,0.796880,0.133076,0.483542,0.074610
18,0.721088,0.807490,0.515818,0.256376,0.856825,0.228271,0.771948,0.508790,0.165877,0.741650
19,0.216935,0.694358,0.740787,0.207133,0.783847,0.670699,0.193628,0.253902,0.441705,0.005252
20,0.949870,0.933899,0.915221,0.613746,0.662313,0.108906,0.967171,0.982247,0.743053,0.700830
21,0.938887,0.409563,0.853280,0.251038,0.758482,0.130594,0.658132,0.397880,0.443552,0.835233
22,0.049003,0.273345,0.992856,0.101639,0.681689,0.210244,0.303875,0.079609,0.517872,0.013123
23,0.503054,0.913183,0.301495,0.846739,0.948195,0.645926,0.738302,0.080473,0.239867,0.812072
24,0.438258,0.648179,0.121536,0.821827,0.194405,0.715700,0.153776,0.753585,0.494231,0.087632
25,0.904868,0.545187,0.972595,0.556286,0.203992,0.127291,0.067188,0.590507,0.729266,0.591805
26,0.356306,0.111989,0.558223,0.978959,0.473462,0.012427,0.126242,0.890589,0.776153,0.255888
27,0.349439,0.031059,0.761268,0.456061,0.739391,0.707582,0.348601,0.063309,0.415600,0.906934
28,0.000106,0.540539,0.806756,0.228181,0.783618,0.405062,0.664823,0.486474,0.010709,0.074673
29,0.075702,0.670189,0.961172,0.342033,0.039479,0.143812,0.431454,0.898772,0.370317,0.260772

In [15]:
random_df.head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.201736,0.718142,0.553901,0.016515,0.423794,0.602191,0.312173,0.696406,0.530402,0.310529
1,0.224702,0.271562,0.658444,0.572945,0.657031,0.629733,0.853844,0.913338,0.788399,0.723949
2,0.238577,0.468339,0.421897,0.759773,0.285821,0.837598,0.862868,0.707336,0.363240,0.559975
3,0.796371,0.245501,0.647891,0.458420,0.211394,0.162978,0.034472,0.196477,0.078915,0.128377
4,0.446275,0.268695,0.107725,0.762595,0.647014,0.772417,0.328954,0.301052,0.810337,0.586399

In [16]:
random_df.tail(5)

,0,1,2,3,4,5,6,7,8,9
25,0.904868,0.545187,0.972595,0.556286,0.203992,0.127291,0.067188,0.590507,0.729266,0.591805
26,0.356306,0.111989,0.558223,0.978959,0.473462,0.012427,0.126242,0.890589,0.776153,0.255888
27,0.349439,0.031059,0.761268,0.456061,0.739391,0.707582,0.348601,0.063309,0.415600,0.906934
28,0.000106,0.540539,0.806756,0.228181,0.783618,0.405062,0.664823,0.486474,0.010709,0.074673
29,0.075702,0.670189,0.961172,0.342033,0.039479,0.143812,0.431454,0.898772,0.370317,0.260772

In [18]:
random_df.shape

(30, 10)

In [20]:
### all information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

In [21]:
### null data value - to check missing of null value
df.isnull().sum()

age    0
sex    0
bmi    0
bp     0
s1     0
s2     0
s3     0
s4     0
s5     0
s6     0
dtype: int64